<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zph.commerce">


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 主页面 -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>


        <!-- 登录 -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>


        <!-- 引导页 -->
        <activity
            android:name=".activity.GuideActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>


        <!-- 忘记密码 -->
        <activity
            android:name=".activity.ForgetPwdActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>

        <!-- 兑换 -->
        <activity
            android:name=".activity.ExchangeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>
        <!-- 兑换列表 -->
        <activity
            android:name=".activity.ExchangeListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>

        <!-- 获取兑换设置密码验证码 -->
        <!-- 确认支付密码 -->
        <activity
            android:name=".activity.ConfirmPayPwdActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>
        <!-- 忘记支付密码 -->


        <!-- 绑定或修改身份信息 -->
        <activity
            android:name=".activity.CertificationBindUserActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>


        <!-- 绑定或修改银行卡 -->
        <activity
            android:name=".activity.BindBankActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>

        <!-- 设置支付密码 -->
        <activity
            android:name=".activity.SetPayPwdActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>
        <!-- 我的消息列表 -->
        <activity
            android:name=".activity.MyMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>
        <!-- 关于我们 -->
        <activity
            android:name=".activity.MyWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>
        <!-- 设置 -->
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>
        <!-- 激活好友 -->
        <activity
            android:name=".activity.ActivateFriendsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>
        <!-- 激活会员 -->
        <activity
            android:name=".activity.ActivateVipActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>
        <!-- 明额明细 -->
        <activity
            android:name=".activity.AmountDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>
        <!-- 库存余额 -->
        <activity
            android:name=".activity.PlatformInventoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>
        <!-- 库存明细 -->
        <activity
            android:name=".activity.InventoryDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>
        <!-- 提货 -->
        <activity
            android:name=".activity.PickGoodsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"><!-- stateVisible|adjustResize -->
        </activity>


        <!-- 智品积分 -->
        <activity
            android:name=".activity.WisdomIntegralActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>
        <!-- 订单中心 -->
        <activity
            android:name=".activity.OrderCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>
        <!-- 智品订单 -->
        <activity
            android:name=".activity.WisdomOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>
        <!-- 商品订单 -->
        <activity
            android:name=".activity.MailOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"><!-- stateVisible|adjustResize -->
        </activity>


        <!--收货地址列表管理页面-->
        <activity
            android:name=".activity.AddressMangeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />


        <!-- 新增收货地址、编辑列表页面 -->
        <activity
            android:name=".activity.AddressEditActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable"
            android:windowSoftInputMode="adjustPan"></activity>


        <!-- 商品详情页面 -->
        <activity
            android:name=".activity.GoodsDetalActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable"
            android:windowSoftInputMode="adjustPan"></activity>


        <!-- 确认订单页面 -->
        <activity
            android:name=".activity.SubmitCarOrderActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable"
            android:windowSoftInputMode="adjustPan"></activity>
        <!--选择收货地址列表页面-->
        <activity
            android:name=".activity.AddressChooseActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />

        <!--支付订单页面-->
        <activity
            android:name=".activity.PayOrderActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />

        <!--支付成功页面-->
        <activity
            android:name=".activity.PaySuccessActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />


        <!--图片浏览页面-->
        <activity
            android:name=".activity.ImagePagerActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />


        <!--好友管理页面-->
        <activity
            android:name=".activity.RecommendActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />


        <!--物流页面-->
        <activity
            android:name=".activity.OrderWuliuActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />


        <!--普通订单详情页面-->
        <activity
            android:name=".activity.OrderDetalActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />


        <!--智品订单详情页面-->
        <activity
            android:name=".activity.WisdomOrderDetalActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />




        <!--修改银行卡页面-->
        <activity
            android:name=".activity.UpdateBindBankActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />


        <!--鼓励积分、货款奖励记录页面-->
        <activity
            android:name=".activity.PraiseListActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />

        <!--推荐页面-->
        <activity
            android:name=".activity.MyRecommendActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />

        <!--商品列表页面-->
        <activity
            android:name=".activity.GoodsListActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />


        <!--分类商品列表页面-->
        <activity
            android:name=".activity.CategoryGoodsListActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />


        <!-- 搜索 -->
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            ><!-- stateVisible|adjustResize -->
        </activity>

        <!-- 修改昵称 -->
        <activity
            android:name=".activity.UpdateNickActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />

        <!-- 评价 -->
        <activity
            android:name=".activity.EvaluateActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />

        <!-- 售后订单 -->
        <activity
            android:name=".activity.AfterSaleOrderActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />

        <!-- 评价列表 -->
        <activity
            android:name=".activity.EvaluateListActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />

        <!-- 申请售后 -->
        <activity
            android:name=".activity.AfterSaleActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Slidr.Slidable" />



        <!--qq登录、分享配置-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106459990" />
                <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--qq登录配置-->


        <!--支付宝配置-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>

        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>


        <!--微信配置-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <!-- 百度自动更新sdk配置 -->
        <meta-data
            android:name="BDAPPID"
            android:value="10349400" />
        <meta-data
            android:name="BDAPPKEY"
            android:value="Z38NUl1Xrw1QRyMx2YGlSlrTRAoNPTZu" />

        <!-- android:authorities="包名.fileprovider"将“包名”替换为实际包名 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zph.commerce.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bdp_update_filepaths" />
        </provider>


        <meta-data android:value="5a155bd8b27b0a1eec000138" android:name="UMENG_APPKEY"/>


    </application>

</manifest>